* {
  font-size: 18px;
}
thead{
  background-color: rgb(74, 146, 229) ;
}
th{
  font-size: 20px !important;
  font-weight: 900 !important;
}
.button{
  font-size: 18px !important;
}
label{
  font-size: 20px !important;
}
