body{
    background-color: antiquewhite;
    font-family: sans-serif;
}
h1{
    font-weight: 900;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    box-sizing: border-box;
}
.login{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(30, 24, 117);
    border-radius: 25px;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(30, 24, 117);
}
.form-login label{
    font-size: 20px;
}
.form-login input{
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid rgb(30, 24, 117);
}
.form-login input:focus{
    outline: none !important;
}
.btn-login{
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    width: 100%;
    padding: 4%;
    border: none;
    border-radius: 25px;
    transition: background 0.3s;
}
.btn-login:hover{
    background: linear-gradient(90deg, #2575fc, #6a11cb);
}