h1{
    color: #183467;
    font-weight: 700;
    margin-top: 10px;
    border-bottom: 2px solid #02244f; 
}
h2{
    color: #183467;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px solid #02244f;
}
